div{
    height:50px;
    width : 100%;
    border:  1px solid black;
    border-radius:6px;
    font-size: 18px;
    text-align: right;
    display: table;
    padding-right: 10px;
}

div span {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    text-align: right;
}

